---
layout: default
title: recepten
---
<section id="homeSection">
	<div class="container">
		<div class="titleElement" style="background-image: url({{site.baseurl}}/img/backgrounds/tempPils.jpg)">
			<div class="titleTextPusher"></div>
			<div class="titleText">
				{% include logos/logoPlain.svg %}
			</div>
		</div>
		<div class="receptenInfo">
			<p id="searchIcon" onclick=""><i class="fa fa-search" aria-hidden="true"></i></p>
		</div>
		<div class="contentNav height0">
			{% include general/searchForm.html %}
		</div>
		<div class="row">
			{% for recept in site.recepten %}
				<div  class="col-lg-3 col-sm-6">
					<div class="gridSpace receptCard" onclick="location.href='{{site.baseurl}}{{recept.url}}';" style="cursor: pointer;">
						<h2><a href="{{site.baseurl}}{{recept.url}}">{{ recept.title }}</a></h2>
						<div onclick="" class="receptInfoCard">
							<div class="receptInfo">
								<strong><p>{{ recept.intro }}</p></strong>
								<h4><i class="fa fa-hourglass-start" aria-hidden="true"></i>  {{ recept.prepTime }}  min
									<i class="fa fa-hourglass-end" aria-hidden="true"></i>  {{ recept.cookTime }}  min
									<br>
									{% if recept.ontbijt %}
					        <i class="fa fa-coffee" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.tussendoortje %}
					        <i class="fa fa-battery-quarter" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.lunch %}
					        <i class="fa fa-circle-o" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.diner %}
					        <i class="fa fa-cutlery" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.sideDish %}
					        <i class="fa fa-plus" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.toetje %}
					        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.leftOvers %}
					        <i class="fa fa-recycle" aria-hidden="true"></i>
					        {% endif %}
								</h4>
							</div>
						</div>
						<div class="cuttingBoard">
							<img src="{{site.baseurl}}/img/cuttingBoards/{{recept.imageName}}" alt="">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="info">
			{% include pages/home/overRappotheek.html %}
			{% include pages/home/contact.html %}
		</div>
	</div>
</section>
