footer
  .scissorLine
    border-top: 0.6vmin dotted $titleTextColor
    margin: 8vh 0 7vh 0
    .fa-scissors
      font-size: 8vmin
      color: $titleTextColor
      margin-top: -4.5vmin
      margin-left: 2vw
      &:hover
        cursor: pointer
    .slideOutRight
      margin-left: 100vw
      transition: 3s
    .overflowHiddenDiv
      overflow: hidden
      .egg
        margin-top: -100%
        overflow: hidden
        border-bottom: 0.6vmin dotted $titleTextColor
        padding: 0 0 4vmin 0
        .fotoBackground
          background-image: url("../img/backgrounds/hamburgerUitKyoto.jpg")
          background-position: center center
          background-size: contain
          background-repeat: no-repeat
          display: flex
          justify-content: center
          height: 80vmin
          padding: 20px
          h2
            margin-top: auto
            text-shadow: 1px 1px 1px $backgroundColor, 1px -1px 5px $backgroundColor, -1px 1px 5px $backgroundColor, 0px 0px 15px $backgroundColor
      .eggTada
        margin-top: 0%
        transition: 2s
        transition-delay: 2.6s

  .footerNav
    margin-bottom: 8vh
    
