<!-- <section id="contact">
  <div id="contactForm">
      <h2>Contact</h2>
      <form action="https://formspree.io/johan.arjenjanssen@gmail.com" method="POST">
        <div class="row">

          <div class="col-lg-8 col-sm-6 padding10px" onclick="">
            <div class="contactFormCard">
              <textarea class="message" name="message" placeholder="Bericht of vraag"></textarea>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 padding10px" onclick="">
            <div class="contactFormCard">
              <input class="nameEmail" type="text" name="name" placeholder="Naam">
              <input class="nameEmail" type="email" name="_replyto" placeholder="e-mail">
              <div class="sendButtonContainer">
                <input type="submit" value="insturen">
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>
</section> -->
