<section>
  <h2>Introductie</h2>
  <p>Rapotheek is opgericht om de bereikbaarheid van medicijnen ook in de toekomst zeker te stellen. De zorguitgaven blijven maar stijgen, de zorg veranderd sterk door ontwikkelingen in technologie maar apotheken zijn al 100 jaar het zelfde.</p>
  <p>Wij hebben kritisch gekeken naar de huidige apotheken en de laatste technologische ontwikkelingen. Wij zijn van mening dat het simpeler en efficiënter kan en tevens beter aansluit op de wensen van de apotheek bezoeker.</p>
</section>
