<section id="introductie">
  <h2>Rappotheek van de toekomst</h2>
  <div class="row">
    <div  class="col-lg-3 col-sm-6">
      <div class="gridSpace introCard">
        <h2><i class="fa fa-map-marker" aria-hidden="true"></i></h2>
        <h4>bij u in de buurt</h4>
      </div>
    </div>

    <div  class="col-lg-3 col-sm-6">
      <div class="gridSpace introCard">
        <h2><i class="fa fa-hourglass-end" aria-hidden="true"></i></h2>
        <h4>Snel geholpen</h4>
      </div>
    </div>

    <div  class="col-lg-3 col-sm-6">
      <div class="gridSpace introCard">
        <h2><i class="fa fa-eur" aria-hidden="true"></i></h2>
        <h4>Door efficientie goedkoper</h4>
      </div>
    </div>

    <div  class="col-lg-3 col-sm-6">
      <div class="gridSpace introCard">
        <h2><i class="fa fa-clock-o" aria-hidden="true"></i></h2>
        <h4>Herhaal recepten liggen klaar</h4>
      </div>
    </div>
  </div>
  <!-- <p>Rapotheek is opgericht om de bereikbaarheid van medicijnen ook in de toekomst zeker te stellen. De zorguitgaven blijven maar stijgen, de zorg veranderd sterk door ontwikkelingen in technologie maar apotheken zijn al 100 jaar het zelfde.</p>
  <p>Wij hebben kritisch gekeken naar de huidige apotheken en de laatste technologische ontwikkelingen. Wij zijn van mening dat het simpeler en efficiënter kan en tevens beter aansluit op de wensen van de apotheek bezoeker.</p> -->
</section>
