<h2>Meer over Mizzi</h2>

<p>Mizzi, Miz, Mizzle, Mizu, Pummeke, Snuppa, Pretsel, Prammenbeest, Sjantie Kaliba, Loefoe, Pollanrossie, Tùmá, Djiema Djiema, Tuffie, Papadufulus, Poplapoemis, Poefie, Moksa, Poepandroe, Tummie Pops, Rodondendraak. Ja, naar deze namen luister ik allemaal. Heel vreemd dit.</p>

<p>Miz zullen we dat ene eten wat je laatst had gemaakt? Je weet wel, dat wat iedereen zo lekker vond? Maar natuurlijk schattebillie, zeg ik dan. Ik weet alleen niet meer hoe en wat, was het nou met zus of zo, of toch niet. Met andere woorden. Ik wil volmondig JA zeggen op die vraag, maar ik heb dus eigenlijk geen idee wat ik heb gedaan om die tongstrelende neusprikkelende hammie jammie creatie te maken.</p>

<p>Ik ben van het soort dat altijd iets anders probeert, er van houdt om te kijken wat er gebeurt, te kijken waar het schip strand, het fantastisch vindt om niet naar de supermarkt te gaan (omdat ik daar meestal gewoonweg geen zin in heb) en toch gewoon, met wat ik toevallig nog heb liggen, een masterlijke maaltijd neerzet die je vol overgave op wil peuzelen, wil verorberen, delicaat naar binnen wil snuffelen, op wil gaffelen, bunkeren, fretten. Kablam lekker happen man!</p>

<p>Ik word ook wel de koningin van de hoppa-ploppa-food-show-stoppa genoemd.</p>

<p>Gnagnagna, even zonder gekheid, ik kan dus schijnbaar van zo ongeveer niets, iets maken, van left-overs een volwaardige maaltijd, een feestje op tafel zetten, mondjes laten wateren, oogjes laten ploppen, harten laten verlangen naar meer, méér van dit lekkers... En... Daarna vergeten wat ik zo ongeveer heb gedaan om vervolgens weer iets anders te creëren, waar ik weer niet van zal leren.</p>

<p>Dit. Ja, dit. Dit moet stoppen.</p>

<p>Mizzi, zullen we dat ene eten wat je laatst had gemaakt? Je weet wel, dat wat iedereen zo lekker vond? Maar natuurlijk schattebillie, zeg ik dan. Dan plop ik mijn blog aan, die er overigens fabulous uitziet, spiek eventjes wat het ‘ hoe en wat ‘ ook al weer was, zet een lekker muziekje aan, ga de keuken in en kom met eye poppin’, tongue floppin’, jaw droppin’ lekkers naar buiten. é voila ben ik nu alweer in Valhalla?</p>

<p>Beste vrienden, familie, collega’s, kennissen, buren, stadgenoten, landlopers, wereldreizigers, liefdesverspreiders weet je wat een fijne bijkomstigheid is van dit alles? Nou ja, je raadt het al. Dit spiekbriefje is niet alleen voor mij, dat zou hebberig zijn. En weet je, hebberigheid is niet echt mijn ding, ik ben meer van het delen, het samen spelen, het genieten met velen, van het extatisch dansen, met de lekkere dingen des levens sjansen. Dus kom, het is ook voor jou, join me, enjoy yourself, get your groove on, be free!</p>
