<section id="news">
  <h2>Nieuws</h2>
  <div class="row">
    {% for recept in site.news %}
      <div  class="col-lg-3 col-sm-6">
        <div class="gridSpace newsCard" onclick="location.href='{{site.baseurl}}{{recept.url}}';" style="cursor: pointer;">
          <h2><a href="{{site.baseurl}}{{recept.url}}">{{ recept.title }}</a></h2>
          <div onclick="" class="newsInfoCard">
            <div class="receptInfo">
              <strong><p>{{ recept.intro }}</p></strong>
            </div>
          </div>
          <div class="newsImg" style="background-image: url({{site.baseurl}}/img/news/{{recept.imageName}})">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
