<h2>Over Rappotheek</h2>

<p>Rappotheek; de moderne apotheek waar het RAP gaat! Rap, snel, een beetje

rebels maar uiterst professioneel.

In de Rappotheeek kennen we geen wachttijden, geen nummertje trekken; u

bent steeds nummer 1!

Rappotheek gebruikt speciale kasten met Nederlandse software en LED

indicatoren om u supersnel van dienst te kunnen zijn. Uw eigen QR code of naam

en geboortedatum en wij weten al wat en waar uw medicatie is.

Eerste uitgiften worden verwerkt met een supersnelle Nederlandse robot en

gelabeld met PILS. (Pharmaned Intelligent Label System).

In de Rappotheek is 1 apotheker en 1 assistente aanwezig. U krijgt daarom zeer

persoonlijke en klantvriendelijke farmaceutische zorg. De apotheker is er voor U,

en niet voor de administratie.

Door verregaande automatisering kunnen deze 2 personen even veel werk

verzetten als in een standaard-apotheek met 10 of 12 personen.

Rappotheek, een nieuw, modern concept zoekt apothekers welke een

Rappotheek willen starten. Een Rappotheek kan met 1 apotheker en 2 parttime

assistentes een volledige Norm-apotheek vervangen.

Meer aandacht voor de patiënt, persoonlijk contact, farmaceutische zorg op

topniveau.

Informatie voor apothekers (aanmelden met emailadres):

Rappotheek zoekt apothekers welke een eigen Rappotheek willen openen. Ruime

financieringsmogelijkheden, een in verhouding tot bestaande apotheken zeer

lage investering en als gevolg daarvan een prima verdienste.

Rappotheek is een nieuwe, onafhankelijke organisatie. We werken samen met

diverse groothandels en de mate van samenwerking wordt secuur met u

besproken.

Wilt u een persoonlijk onderhoud met onze adviseurs, neem dan contact met ons

op via advies@rappotheek.nl

Met vvriendelijke groeten,

Team Rappotheek</p>
