<section id="title">
  <div class="titleElement" style="background-image: url({{site.baseurl}}/img/backgrounds/tempPils.jpg)">
    <div class="titleTextPusher"></div>
    <div class="titleText">
      {% include logos/logoPlain.svg %}
    </div>
  </div>
  <div class="newsInfo">
    <p id="searchIcon" onclick=""><i class="fa fa-search" aria-hidden="true"></i></p>
  </div>
  <div class="contentNav height0">
    {% include general/navigation1.html %}
    {% include general/searchForm.html %}
  </div>

</section>
