---
layout: default
---
<section id="newsItemSection">
  <div class="container">
    <div style="background-image: url({{site.baseurl}}/img/news/{{page.imageName}})" class="pageTitleElement">
      <h1>{{page.title}}</h1>
    </div>
    <div class="contentTitleInfo">
      <a id="backToPrevious" href="{{ site.baseurl }}/index"><i class="fa fa-undo" aria-hidden="true"></i> Home</a>
      <p id="date">{{page.dateAdded}}</p>
    </div>
    <div class="contentContent">
      <p><strong>{{ page.intro }}</strong></p>
      {{ content }}
    </div>
  </div>
</section>
