---
layout: default
---
<section id="receptSection">
  <div class="container">
    <div style="background-image: url({{site.baseurl}}/img/news/{{page.imageName}})" class="pageTitleElement">
      <h1>{{page.title}}</h1>
    </div>
    <div class="contentTitleInfo">
      <a id="backToPrevious" href="{{ site.baseurl }}/index"><i class="fa fa-undo" aria-hidden="true"></i> Mizzi</a>
      <p id="date">{{page.dateAdded}}</p>
    </div>
    <div class="contentContent">
      <div class="cookInfo">
        <h5><i class="fa fa-hourglass-start" aria-hidden="true"></i>  {{ page.prepTime }}  min prep-time</h5>
        <h5><i class="fa fa-hourglass-end" aria-hidden="true"></i>  {{ page.cookTime }}  min cook-time</h5>
        <h5>
          {% if page.ontbijt %}
          <i class="fa fa-coffee" aria-hidden="true"></i>
          {% endif %}
          {% if page.tussendoortje %}
          <i class="fa fa-battery-quarter" aria-hidden="true"></i>
          {% endif %}
          {% if page.lunch %}
          <i class="fa fa-circle-o" aria-hidden="true"></i>
          {% endif %}
          {% if page.diner %}
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          {% endif %}
          {% if page.sideDish %}
          <i class="fa fa-plus" aria-hidden="true"></i>
          {% endif %}
          {% if page.toetje %}
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>
          {% endif %}
          {% if page.leftOvers %}
          <i class="fa fa-recycle" aria-hidden="true"></i>
          {% endif %}</h5>
      </div>
        <br>
      <p><strong>{{ page.intro }}</strong></p>
      {{ content }}
    </div>
  </div>
</section>
